<%- include("../partials/header") %>

<div class="logContainer">
	<div class="row">
		<h1>
			LOG IN
		</h1>

		<div class="myForm">
			<form action="/login" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="username" name="username">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" placeholder="password" name="password">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block">LOG IN</button>
				</div>
				<p>
					Don't have an account yet? <a href="/register">Register here!</a>
				</p>
			</form>
		</div>
		
	</div>
</div>

<%- include("../partials/footer") %>



