h1 {
	font-size: 40px;
	text-align: center;
	width: 100%;
}

.jumbotron {
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.myForm {
	width: 85%;
	margin: 50px auto;
}


#deleteForm {
	display: inline;
}

.InfoCon {
	max-width: 800px;
	margin: 0 auto;
}

.buildingName {
	text-align: center;
}

.navs {
	font-size: 18px;
}

.thumbnail {
	padding: 0;
}

.caption-full {
	padding: 15px;
}

.img-responsive {
	width: 100%;
}

.courseList {
	list-style-type: none;
}


.buttonsDiv {
	padding-top: 10px;
	padding-bottom: 10px;
}

.logContainer {
	max-width: 400px;
	width: 70%;
	margin: 0 auto;
}

.courseinfo {
	width: 50%;
}

.buildinginfo{
	width: 50%;
}










